<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Instituto Juan Zorrilla de San Martín</h1> - <h3>años</h3>
            </li>
            <p>
                Bachiiler en Economía y Admnistración
            </p>
            <li>
                <h1>British School</h1> - <h3>años</h3>
            </li>
            <p>First Certificate in English B2</p>
            <li>
                <h1>Argentina Programa</h1> - <h3>años</h3>
            </li>
            <p>
                Certificación Desarrollador Full Stack Junior
            </p>
        </ul>
    </div>
</div>