<div class="row">
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="75"
  [radius]="100"
  [title]="'HTML'"
  [titleColor]="'white'"
  [showUnits]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'white'"
  [innerStrokeColor]="'white'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="75"
  [radius]="100"
  [title]="'CSS'"
  [titleColor]="'white'"
  [showUnits]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'white'"
  [innerStrokeColor]="'white'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="75"
  [radius]="100"
  [title]="'JavaScript'"
  [titleColor]="'white'"
  [showUnits]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'white'"
  [innerStrokeColor]="'white'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="75"
  [radius]="100"
  [title]="'Java'"
  [titleColor]="'white'"
  [showUnits]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'white'"
  [innerStrokeColor]="'white'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="90"
  [radius]="100"
  [title]="'Inglés'"
  [titleColor]="'white'"
  [showUnits]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'white'"
  [innerStrokeColor]="'white'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="50"
  [radius]="100"
  [title]="'Italiano'"
  [titleColor]="'white'"
  [showUnits]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'white'"
  [innerStrokeColor]="'white'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
</div>
</div>