<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Pasante en Aguas Cordobesas</h1> - <h3>años</h3>
            </li>
            <p>
                Atención al cliente y arqueo de caja.
            </p>
            <li>
                <h1>Cadete en Black Level SA</h1> - <h3>años</h3>
            </li>
            <p>Envío de legajos a bancos y soporte IT</p>
        </ul>
    </div>
</div>