.row{
    padding: 20px;
    background-color: #fefae0;
    font-weight: bold;
}
div{
    
    text-align: center;
}
p{
    color: #ccd5ae;

}
h1{
    color: #ccd5ae;
}
/* nombre*/
#nombre{
    font-weight: bold;
    margin-top: 30%;

  
}


@media (min-width : 576px){
    #fotoperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px #ccd5ae;
        left: 3%;
        top: 620px;
    }
}
@media (max-width : 575px){
    #fotoperfil{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px #ccd5ae;
        left: 35%;
        top: 620px;
    }
}

